<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Camera Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- Existing Activities -->
        <activity android:name=".ViewRequestActivity" android:exported="false" />
        <activity android:name=".RequestDetailsActivity" android:exported="false" />
        <activity android:name=".AdminReportsActivity" android:exported="false" />
        <activity android:name=".AdminViewEligibleActivity" android:exported="false" />
        <activity android:name=".Admin_HouseholdRegistration" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminLoginActivity" android:exported="false" />

        <!-- Launcher Activity -->
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Scheme Management Activities -->
        <activity android:name=".ViewSchemeActivity" android:exported="false" />
        <activity android:name=".SchemeFormActivity" android:exported="false" />

    </application>

</manifest>